<a href="https://colab.research.google.com/github/chaeeuen/python-machine-learing/blob/main/3_11_ESAA_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **판다스 (PANDAS)**

- `index` : 개별 데이터를 고유하개 식별하는 key 값
- `Series` : 칼럼이 하나 뿐인 데이터 구조체
- `DataFrame` : 칼럼이 여러 개인 데이터 구조체

## 1. 판다스 시작 - 파일을 DataFrame으로 로딩, 기본 API

  - `read_csv()` : csv 포맷변환 API, 콤마(,)로 칼럼 구분,  ()안에 sep= 에 구분문자 넣으면 됨. 별다른 파라미터 지정이 없다면 맨 처음 로우를 칼럼명으로 인지하고 칼럼으로 변환.
  - `read_table()` : 탭(\t)로 칼럼 구분.
  - `read_fwf()` : 고정길이 기반의 칼럼 포맷을 DataFrame으로 로딩하기 위한 API.


  1) DataFrame의 메타데이터 조회하기
  
  - `.shape()` : 행과 열의 크기 파악
  - `.info()` : 총 데이터 건수와 데이터 타입, NULL 건수 확인
  - `.describe()` : 칼럼형 숫자형 데이터 값의 n-percentile 분포도, 평균값, 최댓값, 최솟값 나타냄. 오직 숫자형(int) 칼럼의 분포도만 조사.
  - `.value_counts()` : 해당 칼럼값의 유형과 건수 확인가능.
  - `(dropna=False)`: NULL 값을 포함하여 value_counts() 적용시. 디폴트는 True(포함x).

## 2. DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환


1) 넘파이 ndarray, 리스트, 딕셔너리를 DataFrame으로 변환하기

- ndarray -> DataFrame : 칼럼명 1개 필요.

2) DataFrame을 ndarray, 리스트, 딕셔너리로 변환하기

- DataFrame -> ndarray : `.values`
- DataFrame -> 리스트 : `.values.tolist()`
- DataFrame -> 딕셔너리 : `.to_dict()`


## 3. DataFrame의 칼럼 데이터 세트 생성과 수정

- DataFrame[ ] 내에 새로운 칼럼명 입력 후 값 할당.

## 4. DataFrame 데이터 삭제

- `drop()`
       1) axis : axis=0 -> 로우방향축, axis=1 -> 칼럼방향축
       2) Inplace = False : 자기자신의 DataFrame의 데이터는 삭제하지 않으며, 삭제된 결과 DataFrame을 반환, Inplace=True면 자신의 DataFrame의 데이터를 삭제.


## 5. Index 객체

- `.index` : 인덱스 추출가능
- `reset_index()` : 새롭게 인덱스를 연속 숫자형으로 할당, 기존 인덱스는 'index'라는 새로운 칼럼명으로 추가


## 6. 데이터 셀렉션 및 필터링

1) DataFrame의 `[]` 연산자 : 칼럼명 문자, 인덱스로 변환가능한 문자식(칼럼지정 연산자)만 들어갈 수 있음. 불린 인덱싱 표현도 가능.

2) DataFrame `iloc[]` 연산자 : 위치기반 인덱싱만 허용. 행과 열의 좌표위치에 해당하는 값으로 정숫값 또는 정수형의 슬라이싱, 팬시리스트 값을 입력해야함. 인덱스값이나 칼럼명을 입력하면 오류.

- 열 위치에 -1을 입력하여 DataFrame의 가장 마지막 열 데이터 가져옴
- iloc[:,-1] : 맨 마지막 칼럼의 값 (타깃값)
- iloc[:,:-1] : 처음부터 맨 마지막 칼럼을 제외한 모든 칼럼의 값 (피처값)

3) DataFrame `loc[]` 연산자 : 명칭기반 데이터 추출, 행위치에는 인덱스값, 열 위치에는 칼럼명 입력.

- loc[]에 슬라이싱 기호를 적용하면 종료값 -1이 아니라 종료값까지 포함함. !!

4) 불린 인덱싱
- [], loc[] 에서 공통으로 지원. iloc[]는 정수형 값이 아닌 불린값에 대해서는 지원 x, 불린인덱싱 지원 x.
- []내에 불린 인덱싱을 적용하면 반환되는 객체가 DataFrame이므로 원하는 칼럼명만 별도로 추출가능.

## 7. 정렬, Aggregation 함수, GroupBy 적용

1) DataFrame, Series의 정렬 - sort_values()
- `by` : by로 특정칼럼을 입력하면 해당 칼럼으로 정렬을 수행. ascending = True 로 설정하면 오름차순 정렬. ascending = False 로 설정하면 내림차순으로 정렬. 기본은 True.
- `inplcae = False` : inplcae = False로 설정하면 sort_values()를 호출한 DataFrame은 그대로 유지하며 정렬된 DataFrame을 결과로 반환. inplace = True로 설정하면 호출한 DataFrame의 정렬결과를 그대로 적용. 기본은 inplace = False.

2) Aggregation 함수 적용
- DataFrame의 경우 DataFrame에서 바로 aggregation을 호출할 경우 모든 칼럼에 해당 aggregation을 적용함.
- 특정 컬럼에 aggregation 함수를 적용하기 위해서는 DataFrame에 대상 칼럼들만 추출해 aggregation을 적용하면 됨.
- `min()`, `max()`, `sum()`, `count()`

3) groupby() 적용
- 입력 파라미터 by에 칼럼을 입력하면 대상 칼럼으로 groupby 됨.
- DataFrame에 groupby()를 호출해 반환된 결과에 aggregation함수를 호출하면 groupby() 대상 칼럼을 제외한 모든 칼럼에 해당 aggregation 함수를 적용.

## 8. 결손 데이터 처리하기
1) `isna()`로 결손 데이터 여부 확인
- 모든 칼럼의 값이 NaN인지 아닌지를 True나 False로 알려줌.
- 결손 데이터의 개수는 `isna()` 결과에 sum() 함수를 추가해 구할 수 있음. `sum()` 호출 시 True는 1로, False는 0으로 변환.

2) `fillna()`로 결손 데이터 대체하기
- fillna()를 이용해 반환값을 다시 받거나 inplace=True 파라미터를 fillna()에 추가해야 실제 데이터 세트값이 변경됨.

## 9. apply lambda 식으로 데이터 가공
- 복잡한 데이터 가공이 필요할 경우 어쩔 수 없이 apply lambda를 이용.

In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
titanic_df = pd.read_csv("/content/drive/MyDrive/titanic_train.csv")

titanic_df.head(3)
print('DataFrame 크기:', titanic_df.shape)
titanic_df.info()
titanic_df.describe()

Mounted at /content/drive
DataFrame 크기: (891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     0 non-null      float64
 2   Pclass       0 non-null      float64
 3   Name         0 non-null      float64
 4   Sex          0 non-null      float64
 5   Age          0 non-null      float64
 6   SibSp        0 non-null      float64
 7   Parch        0 non-null      float64
 8   Ticket       0 non-null      float64
 9   Fare         0 non-null      float64
 10  Cabin        0 non-null      float64
 11  Embarked     0 non-null      float64
dtypes: float64(11), object(1)
memory usage: 83.7+ KB

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
value_counts = titanic_df['Pclass'].value_counts()
print(value_counts)

titanic_pclass = titanic_df['Pclass']
print(type(titanic_pclass))
titanic_pclass.head()

value_counts = titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

Series([], Name: Pclass, dtype: int64)
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
Series([], Name: Pclass, dtype: int64)

In [3]:
import numpy as np
col_name1=['col1']
list1=[1,2,3]
array1=np.array(list1)
print('array1 shape :', array1.shape)
df_list1= pd.DataFrame(list1, columns=col_name1)
print(df_list1)
df_array1=pd.DataFrame(array1, columns=col_name1)
print(df_array1)

array1 shape : (3,)
   col1
0     1
1     2
2     3
   col1
0     1
1     2
2     3

In [4]:
col_name2=['col1','col2','col3']
list2 = [[1,2,3],[11,12,13]]

array2= np.array(list2)
print(array2.shape)
df_list2=pd.DataFrame(list2, columns=col_name2)
print(df_list2)
df_array2=pd.DataFrame(array2, columns=col_name2)
print(df_array2)

(2, 3)
   col1  col2  col3
0     1     2     3
1    11    12    13
   col1  col2  col3
0     1     2     3
1    11    12    13

In [5]:
dict={'col1':[1,11], 'col2':[2,22], 'col3':[3,33]}
df_dict = pd.DataFrame(dict)
array3= df_dict.values
print(type(array3), array3.shape)

list3=df_dict.values.tolist()
print(type(list3))
print(list3)

dict3= df_dict.to_dict('list')
print(type(dict3))
print(dict3)

<class 'numpy.ndarray'> (2, 3)
<class 'list'>
[[1, 2, 3], [11, 22, 33]]
<class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

In [6]:
titanic_df['Age_0']=0
titanic_df.head(3)
titanic_df['Age_by_10']=titanic_df['Age']*10
titanic_df['Family_No']= titanic_df['SibSp']+titanic_df['Parch']+1
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,"1,0,3,""Braund, Mr. Owen Harris"",male,22,1,0,A/...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
1,"2,1,1,""Cumings, Mrs. John Bradley (Florence Br...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
2,"3,1,3,""Heikkinen, Miss. Laina"",female,26,0,0,S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [7]:

pd.set_option('display.width',1000)
pd.set_option('display.max_colwidth',15)
print(titanic_df.head(3))

titanic_df.drop([0,1,2],axis=0, inplace=True)
print(titanic_df.head(3))


indexes = titanic_df.index
print(indexes)
print(indexes.values)

      PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked  Age_0  Age_by_10  Family_No
0  1,0,3,"Brau...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
1  2,1,1,"Cumi...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
2  3,1,3,"Heik...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
      PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked  Age_0  Age_by_10  Family_No
3  4,1,1,"Futr...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
4  5,0,3,"Alle...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
5  6,0,3,"Mora...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
RangeIndex(start=3, stop=891, step=1)
[  3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74
  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110
 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128
 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146
 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164
 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182
 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200
 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218
 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236
 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254
 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272
 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290
 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308
 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326
 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344
 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362
 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380
 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398
 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416
 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434
 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452
 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470
 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488
 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506
 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524
 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542
 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560
 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578
 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596
 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614
 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632
 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650
 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668
 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686
 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704
 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722
 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740
 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758
 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776
 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794
 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812
 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830
 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848
 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866
 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884
 885 886 887 888 889 890]

In [9]:
print(type(indexes.values))
print(indexes.values.shape)
print(indexes[:5].values)
print(indexes.values[:5])
print(indexes[6])

indexes[0]=5

<class 'numpy.ndarray'>
(888,)
[3 4 5 6 7]
[3 4 5 6 7]
9

TypeError: Index does not support mutable operations

In [11]:
series_fair = titanic_df['Fare']
print(series_fair.max())
print(series_fair.sum())
print(sum(series_fair))
print('Fair Series +3:\n', (series_fair +3).head(3))

nan
0.0
nan
Fair Series +3:
 3   NaN
4   NaN
5   NaN
Name: Fare, dtype: float64

In [12]:
titanic_reset_df = titanic_df.reset_index(inplace=False)
titanic_reset_df.head(3)

   index     PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked  Age_0  Age_by_10  Family_No
0      3  4,1,1,"Futr...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
1      4  5,0,3,"Alle...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
2      5  6,0,3,"Mora...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN

In [14]:
value_counts =titanic_df['Pclass'].value_counts()
print(value_counts)
new_value_counts = value_counts.reset_index(inplace=False)
print(new_value_counts)
print(type(new_value_counts))

Series([], Name: Pclass, dtype: int64)
Empty DataFrame
Columns: [index, Pclass]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [15]:
print(titanic_df['Pclass'].head(3))
print(titanic_df[['Survived','Pclass']].head(3))
print(titanic_df[0])

3   NaN
4   NaN
5   NaN
Name: Pclass, dtype: float64
   Survived  Pclass
3       NaN     NaN
4       NaN     NaN
5       NaN     NaN

KeyError: 0

In [16]:
titanic_df[0:2]

      PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked  Age_0  Age_by_10  Family_No
3  4,1,1,"Futr...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
4  5,0,3,"Alle...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN

In [17]:
titanic_df[titanic_df['Pclass']==3].head(3)

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Age_0, Age_by_10, Family_No]
Index: []

In [18]:
data = {'Name': ['Chulmin', 'Eunkyung','Jinwoong','Soobeom'],
        'Year': [2011, 2016, 2015, 2015],
        'Gender': ['Male', 'Female', 'Male', 'Male']
       }
data_df = pd.DataFrame(data, index=['one','two','three','four'])
data_df

           Name  Year  Gender
one     Chulmin  2011    Male
two    Eunkyung  2016  Female
three  Jinwoong  2015    Male
four    Soobeom  2015    Male

In [19]:
data_df.iloc[0,0]

'Chulmin'

In [20]:
data_df.iloc[0, 'Name']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [23]:
print(data_df.iloc[:,-1])
print(data_df.iloc[:,:-1])
data_df.loc['one','Name']
data_df.loc[0,'Name']
print(data_df.iloc[0:1,0],'\n')
print(data_df.loc['one','two','Name'])

one        Male
two      Female
three      Male
four       Male
Name: Gender, dtype: object
           Name  Year
one     Chulmin  2011
two    Eunkyung  2016
three  Jinwoong  2015
four    Soobeom  2015

KeyError: 0

In [25]:
titanic_boolean = titanic_df[titanic_df['Age'] > 60]
print(type(titanic_boolean))
titanic_boolean

<class 'pandas.core.frame.DataFrame'>

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Age_0, Age_by_10, Family_No]
Index: []

In [27]:
titanic_df[titanic_df['Age'] > 60][['Name','Age']].head(3)
titanic_df.loc[titanic_df['Age'] > 60, ['Name','Age']].head(3)
titanic_df[ (titanic_df['Age'] > 60) & (titanic_df['Pclass']==1) & (titanic_df['Sex']=='female')]

cond1 = titanic_df['Age'] > 60
cond2 = titanic_df['Pclass']==1
cond3 = titanic_df['Sex']=='female'
titanic_df[ cond1 & cond2 & cond3]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Age_0, Age_by_10, Family_No]
Index: []

In [28]:
titanic_sorted = titanic_df.sort_values(by=['Name'])
titanic_sorted.head(3)
titanic_sorted = titanic_df.sort_values(by=['Pclass', 'Name'], ascending=False)
titanic_sorted.head(3)

      PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked  Age_0  Age_by_10  Family_No
3  4,1,1,"Futr...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
4  5,0,3,"Alle...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN
5  6,0,3,"Mora...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN    NaN       NaN      0        NaN        NaN

In [31]:
titanic_df.count()

PassengerId    888
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
Age_0          888
Age_by_10        0
Family_No        0
dtype: int64

In [32]:
titanic_df[['Age', 'Fare']].mean()

Age    NaN
Fare   NaN
dtype: float64

In [33]:
titanic_groupby = titanic_df.groupby(by='Pclass')
print(type(titanic_groupby))

titanic_groupby = titanic_df.groupby('Pclass').count()
titanic_groupby

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

Empty DataFrame
Columns: [PassengerId, Survived, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Age_0, Age_by_10, Family_No]
Index: []

In [34]:
titanic_groupby = titanic_df.groupby('Pclass')[['PassengerId', 'Survived']].count()
titanic_groupby

Empty DataFrame
Columns: [PassengerId, Survived]
Index: []

In [35]:
titanic_df.groupby('Pclass')['Age'].agg([max, min])

Empty DataFrame
Columns: [max, min]
Index: []

In [36]:
agg_format={'Age':'max', 'SibSp':'sum', 'Fare':'mean'}
titanic_df.groupby('Pclass').agg(agg_format)

Empty DataFrame
Columns: [Age, SibSp, Fare]
Index: []

In [38]:
titanic_df.isna().head(3)

   PassengerId  Survived  Pclass  Name   Sex   Age  SibSp  Parch  Ticket  Fare  Cabin  Embarked  Age_0  Age_by_10  Family_No
3        False      True    True  True  True  True   True   True    True  True   True      True  False       True       True
4        False      True    True  True  True  True   True   True    True  True   True      True  False       True       True
5        False      True    True  True  True  True   True   True    True  True   True      True  False       True       True

In [39]:
titanic_df.isna( ).sum( )

PassengerId      0
Survived       888
Pclass         888
Name           888
Sex            888
Age            888
SibSp          888
Parch          888
Ticket         888
Fare           888
Cabin          888
Embarked       888
Age_0            0
Age_by_10      888
Family_No      888
dtype: int64

In [40]:
titanic_df['Cabin'] = titanic_df['Cabin'].fillna('C000')
titanic_df.head(3)

      PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare Cabin  Embarked  Age_0  Age_by_10  Family_No
3  4,1,1,"Futr...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN  C000       NaN      0        NaN        NaN
4  5,0,3,"Alle...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN  C000       NaN      0        NaN        NaN
5  6,0,3,"Mora...       NaN     NaN   NaN  NaN  NaN    NaN    NaN     NaN   NaN  C000       NaN      0        NaN        NaN

In [41]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna('S')
titanic_df.isna().sum()

PassengerId      0
Survived       888
Pclass         888
Name           888
Sex            888
Age            888
SibSp          888
Parch          888
Ticket         888
Fare           888
Cabin            0
Embarked         0
Age_0            0
Age_by_10      888
Family_No      888
dtype: int64

In [42]:
def get_square(a):
  return a**2

print('3의 제곱은:',get_square(3))

3의 제곱은: 9

In [43]:
lambda_square = lambda x : x ** 2
print('3의 제곱은:',lambda_square(3))

3의 제곱은: 9

In [44]:
a=[1,2,3]
squares = map(lambda x : x**2, a)
list(squares)

[1, 4, 9]

In [46]:
titanic_df['Name_len']= titanic_df['Name'].apply(lambda x : len(x))
titanic_df[['Name','Name_len']].head(3)

TypeError: object of type 'float' has no len()

In [47]:
titanic_df['Child_Adult'] = titanic_df['Age'].apply(lambda x : 'Child' if x <=15 else 'Adult' )
titanic_df[['Age','Child_Adult']].head(8)

    Age Child_Adult
3   NaN       Adult
4   NaN       Adult
5   NaN       Adult
6   NaN       Adult
7   NaN       Adult
8   NaN       Adult
9   NaN       Adult
10  NaN       Adult

In [49]:
titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : 'Child' if x<=15 else ('Adult' if x <= 60 else 'Elderly'))
titanic_df['Age_cat'].value_counts()

Elderly    888
Name: Age_cat, dtype: int64

In [50]:
def get_category(age):
    cat = ''
    if age <= 5: cat = 'Baby'
    elif age <= 12: cat = 'Child'
    elif age <= 18: cat = 'Teenager'
    elif age <= 25: cat = 'Student'
    elif age <= 35: cat = 'Young Adult'
    elif age <= 60: cat = 'Adult'
    else : cat = 'Elderly'

    return cat

titanic_df['Age_cat'] = titanic_df['Age'].apply(lambda x : get_category(x))
titanic_df[['Age','Age_cat']].head()

   Age  Age_cat
3  NaN  Elderly
4  NaN  Elderly
5  NaN  Elderly
6  NaN  Elderly
7  NaN  Elderly